.product {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 50%;
    top: 15%;
    transform: translateX(-50%);
    text-align: center;
}

.info-product {
    display: flex;
    margin-left: 300px;
    margin-right: 300px;
}

.info-product-left {
    flex: 1;
}

.info-product-right {
    margin-left: 100px;
    text-align: left;
    flex: 1;
}

.info-item-product {
    margin-top: 20px;
}