.catalog {
    padding: 73px;
    width: 100%;
    height: 100%;
    max-width: 1294px;
    max-height: 600px;
    position: absolute;
    left: 50%;
    top: 15%;
    transform: translateX(-50%);
    border-radius: 32px;
    text-align: center;
    background-color: #DCE5E2;
    overflow: hidden;
}

.all-products {
    padding: 20px;
}