.about-content-start {
    display: flex;
}

.about-content-start-left {
    flex: 1;
}

.about-content-start-right {
    flex: 1;
    margin-top: 10%;
    text-align: left;
}

.image-stack {
    display: grid;
    position: relative;
    grid-template-columns: repeat(12, 1fr);
}
  
.image-stack__item--bottom {
    grid-column: 4 / -1;
    grid-row: 1;
}
  
.image-stack__item--top {
    grid-row: 1;
    grid-column: 1 / span 10;
    padding: 20%;
    z-index: 1; 
}
  
.img-about {
    width: 400px;
    display: block;
    border-radius: 20px;
    box-shadow: 17px 13px 80px 20px rgb(176, 176, 176);
}

.content-title-about {
    font-size: 45px;
    line-height: 40px;
    width: 500px;
}

.content-description-about {
    margin-top: 20px;
    line-height: 15px;
    font-size: 15px;
    width: 500px;
}